@charset "UTF-8";

@font-face {
    font-family: 'nintendo';
    src: url(fontes/Pretendo.ttf);
}
@font-face {
    font-family: 'snes';
    src: url(fontes/dharma-gothic-e-regular.otf);
}
@font-face {
    font-family: 'logos';
    src: url(fontes/Game\ Logos.ttf);
}

:root {
    --corpo: #cfced3;
    --logo: #99989e;
    --yx: #b7b4e9;
    --ba: #583c90;
    --ss: #474747;
    --logoN: #ed1c24;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--yx);
}


header {
    background-color: var(--corpo);
    padding-bottom: 30px;
}
header h1 {
    font-family: snes;
    font-weight: normal;
    text-align: center;
    width: fit-content;
    margin: 0px auto;
    font-size: 64px;
    font-style: italic;
    color: var(--logo);
    padding-top: 20px;
}
header p {
    font-family: snes;
    font-weight: normal;
    font-style: italic;
    margin: 0px auto;
    margin-top: -15px;
    background-color: var(--logo);
    color: var(--corpo);
    width: fit-content;
    padding: 0px 3px 0px 3px;
    letter-spacing: 6px;
    border-radius: 1px;
}


nav {
    padding: 12px;
    text-align: center;
    background-color: var(--logo);
    border: 2px solid var(--ss);
    /* position: sticky;
    top: 0px; */
}
nav a {
    text-decoration: none;
    background-color: var(--corpo);
    color: var(--ss);
    padding: 2px 20px;
    font-weight: bold;
    border: 1px solid var(--ss);
    border-radius: 5px;
}
nav a.yx:hover {
    background-color: var(--yx);
    color: var(--ss);
    transition-duration: 0.125s;
    box-shadow: 0px 0px 5px 1px var(--logoN);
}
nav a.ba:hover {
    background-color: var(--ba);
    color: var(--corpo);
    transition-duration: 0.125s;
    box-shadow: 0px 0px 5px 1px var(--logoN);
}
/* link Página ativa - link Página ativa */
nav ul a.ativoyx {
    background-color: var(--yx);
}
nav ul a.ativoba {
    background-color: var(--ba);
    color: var(--corpo);
}
/* ------------------------------------- */

main {
    background-color: rgb(223.5, 222.5, 227.5);
    text-align: center;
}
main.historia {
    background-color: var(--ss);
}

article {
    background-color: rgb(223.5, 222.5, 227.5);
    max-width: 800px;
    margin: 0px auto;
}
article h2 {
    text-align: justify;
    padding: 10px 40px;
}
article p {
    text-align: justify;
    text-indent: 40px;
    padding: 10px 40px;
    line-height: 28px;
}
article a {
    font-weight: bold;
}
article a:hover {
    text-decoration: underline;
}

/* imagem SNES - imagem SNES - imagem SNES */
article div.snes {
    display: inline-block;
    background-color: rgb(251, 250, 255);
    width: 333px;
    margin: 20px 0px 10px 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
article div.snes img {
    width: 100%;
    height: auto;
}
/* --------------------------------------- */

article div.ver {
    margin-top: 10px;
    padding: 5px 5px 10px 5px;
    font-weight: bold;
    line-height: 28px;
}

/* imagem SFC - imagem SFC - imagem SFC */
article div.sfc {
    display: inline-block;
    background-color: rgb(251, 250, 255);
    width: 333px;
    margin: 20px 10px 10px 0px;
    padding: 21px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
article div.sfc img {
    width: 100%;
    height: auto;
}
/* ------------------------------------ */

/* imagem SFC jr - imagem SFC jr - imagem SFC jr */
article div.sfcjr {
    display: inline-block;
    background-color: rgb(251, 250, 255);
    width: 333px;
    margin: 20px 10px 10px 0px;
    padding: 4px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
article div.sfcjr img {
    width: 100%;
    height: auto;
}
/* --------------------------------------------- */

/* imagem abre no link - imagem abre no link */
article a.imglink span {
    display: none;
}
article a.imglink:hover span {
    position: absolute;
    display: block;
    border: 2px solid black;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    background-color: rgb(251, 250, 255);
    border-radius: 5px;
}
article a.imglink span img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px auto;
}
/* ----------------------------------------- */

/* imagem dos controles - imagem dos controles */
article div.controles {
    display: block;
    width: 300px;
    height: auto;
    margin: 30px auto;
    padding: 0px 10px 10px 10px;
    border: 2px solid black;
    background-color: rgb(250, 254, 255);
    border-radius: 5px;
}
article div.controles img {
    width: 100%;
    height: auto;
}
/* ------------------------------------------- */

/* imagem dos cartuchos - imagem dos cartuchos */
article div.cartuchos {
    width: 300px;
    display: block;
    height: auto;
    border: 2px solid black;
    background-color: rgb(250, 254, 255);
    padding: 10px;
    margin: 30px auto;
    border-radius: 5px;
}
article div.cartuchos img {
    width: 100%;
    height: auto;
}
/* ------------------------------------------- */

article ul li {
    list-style-position: inside;
    text-align: justify;
    text-indent: 40px;
    line-height: 28px;
    padding: 0px 40px 10px 40px;
    margin-top: -10px;
}

/* img SNES Home - img SNES Home */
main img.imgsnesI {
    display: block;
    width: 75%;
    margin: 0px auto;
    padding: 40px 20px;
}
/* ----------------------------- */

/* h2 Emuladores - h2 Emuladores */
main h2.h2emuladores {
    font-family: snes;
    color: var(--logo);
    padding-top: 40px;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
}
/* ----------------------------- */

main a {
    text-decoration: none;
}

/* Snes9x - Snes9x - Snes9x - Snes9x */
main a div.emuladorL {
    display: inline-block;
    background-color: var(--ss);
    width: 200px;
    margin: 40px 10px 40px 10px;
    border-radius: 10px;
}
main a div.emuladorL img {
    width: 90%;
    margin: 6.5% 5% 6.5% 5%;
}
/* --------------------------------- */

/* ZSNES - ZSNES - ZSNES - ZSNES */
main a div.emuladorR {
    display: inline-block;
    background-color: var(--ss);
    width: 200px;
    margin: 40px 10px 40px 10px;
    border-radius: 10px;
}
main a div.emuladorR img {
    width: 90%;
    margin: 5%;
}
/* ----------------------------- */

/* hover Emuladores - hover Emuladores - hover Emu*/
main a div.emuladorL:hover, div.emuladorR:hover {
    box-shadow: 0px 0px 5px 1px var(--logoN);
}
/* ---------------------------------------------- */

main div.jogos {
    display: inline-table;
    background-color: var(--logo);
    margin: 40px;
    width: 200px;
    border: 1px solid var(--ss);
    border-radius: 5px;
    /* float: left; */
}
main div.jogos a img {
    width: 100%;
    height: auto;
}
main div.jogos div.nomeJogo {
    background-color: var(--ss);
    color: var(--corpo);
    padding: 10px;
    border: 1px solid var(--ss);
    text-transform: uppercase;
}
main div.jogos:hover {
    box-shadow: 0px 0px 5px 1px var(--logoN);
}

footer {
    background-color: var(--logo);
    text-align: center;
    font-family: logos;
    color: var(--corpo);
    border: 2px solid var(--ss);
    padding: 4px;
    font-size: 20px;
    /* position: fixed;
    bottom: 0px;
    width: 100%; */
}

/* link site Nintendo - link site Nintendo */
footer a {
    text-decoration: none;
    color: var(--corpo);
}
footer a:hover {
    color: var(--logoN);
}
/* --------------------------------------- */