@charset "UTF-8";

@font-face {
    font-family: 'nintendo';
    src: url(fontes/Pretendo.ttf);
}
@font-face {
    font-family: 'snes';
    src: url(fontes/dharma-gothic-e-regular.otf);
}
@font-face {
    font-family: 'logos';
    src: url(fontes/Game\ Logos.ttf);
}

:root {
    --corpo: #cfced3;
    --logo: #99989e;
    --yx: #b7b4e9;
    --ba: #583c90;
    --ss: #474747;
    --logoN: #ed1c24;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--yx);
}

header {
    background-color: var(--corpo);
    padding-bottom: 30px;
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); */
}
header h1 {
    font-family: snes;
    font-weight: normal;
    text-align: center;
    width: fit-content;
    margin: 0px auto;
    font-size: 64px;
    font-style: italic;
    color: var(--logo);
    padding-top: 20px;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); */
}
header p {
    font-family: snes;
    font-weight: normal;
    font-style: italic;
    margin: 0px auto;
    margin-top: -15px;
    background-color: var(--logo);
    color: var(--corpo);
    width: fit-content;
    padding: 0px 3px 0px 3px;
    letter-spacing: 6px;
    border-radius: 1px;
    /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); */
}

nav {
    padding: 12px;
    text-align: center;
    background-color: var(--logo);
    border: 2px solid var(--ss);
}
nav a {
    text-decoration: none;
    background-color: var(--corpo);
    color: var(--ss);
    padding: 2px 20px;
    font-weight: bold;
    border: 1px solid var(--ss);
    border-radius: 5px;
}
nav a.yx:hover {
    background-color: var(--yx);
    color: var(--ss);
    transition-duration: 0.125s;
    box-shadow: 0px 0px 5px 1px var(--logoN);
}
nav a.ba:hover {
    background-color: var(--ba);
    color: var(--corpo);
    transition-duration: 0.125s;
    box-shadow: 0px 0px 5px 1px var(--logoN);
}

main {
    background-color: var(--corpo);
    height: auto;
}
main img {
    display: block;
    width: 75%;
    margin: 0px auto;
    padding: 40px 20px;
}

footer {
    background-color: var(--logo);
    text-align: center;
    font-family: logos;
    color: var(--corpo);
    border: 2px solid var(--ss);
    padding: 4px;
    font-size: 20px;
}